/* Global styles */
@font-face {
  font-family: 'Maddac Regular';
  src: url(/Users/arjunkulkarni/Desktop/the-dj-doc/src/fonts/Maddac.ttf);
}

body {
  font-family: 'Maddac Regular', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f4f5;
  color: #333; /* Text color */
}



ul {
  list-style: none; /* Remove the default list-style type */
  padding: 0; /* Remove default padding */
  margin: 20px; /* Remove default margin */
}

/* Centered content container */
.content-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh; /* Make the container cover the entire viewport height */
}

.header-container {
  text-align: center;
  margin-top: 10px; /* You can adjust this margin as needed */
}

h1 {
  font-size: 36px; /* Larger font size for the heading */
  color: #007bff; /* Modern blue color for headings */
  margin-top: 0; /* Remove the top margin for h1 */
}

/* Search bar styles */
.search-container {
  margin-top: 20px;
  background-color: #fff; /* White background for the search container */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the input and select elements */
.input-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"] {
  padding: 12px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
}

/* Genre selection styles */
.genre-container {
  text-align: center;
  margin-top: 20px;
}

/* Style for the <label> element */
.genre-container label {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

/* Style for the <select> element */
.genre-container select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.genre-container select:hover {
  border-color: #007bff;
}

.genre-container select:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

/* Button styles */
.button-container {
  text-align: center;
  margin: 10px auto;
  background-color: #f8f4f5;
}

button {
  padding: 12px 80px; /* Increased padding for better clickability */
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Result styles */
.result-container {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e0e0e0; /* Light gray border */
  border-radius: 5px;
  margin-top: 20px;
}

.back-button {
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  padding: 12px 24px; /* Increased padding for better clickability */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

.result-title {
  font-size: 24px; /* Larger font size for result title */
  font-weight: bold;
  margin-top: 10px;
}

.result-json {
  background-color: #f5f5f5; /* Lighter gray background */
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 16px; /* Slightly larger font size */
  color: #333; /* Text color */
  overflow-x: auto;
}

.related-artists-container {
  margin-top: 20px;
}

/* Style the artist buttons */
.artist-button {
  background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent blue background */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.artist-button:hover {
  background-color: #007bff; /* Blue background on hover */
  opacity: 0.9; /* Slightly reduce opacity on hover */
}

/* Style the album buttons */
.album-button {
  background-color: rgba(0, 123, 255, 0.8); /* Semi-transparent blue background */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.album-button:hover {
  background-color: #007bff; /* Blue background on hover */
  opacity: 0.9; /* Slightly reduce opacity on hover */
}


